*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    position: relative;
    min-height:100vh; 
    background-color: #06091b;
    &::before{
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: url(images/Website\ Logo.png);
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.25;
    }
}

nav{
    position:relative;
    background-color: #03082B;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    height: 100px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    flex-grow: 1;
    align-items: center;
    color: white;
    font-size: large;
}

nav a:hover{
    color: yellow;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #06091b58;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
    height: 50px;
}

.menuButton{
    display: none;
}


@media(max-width:800px){
    .hideOnMobile{
        display:none;
    }
    .menuButton{
        display: block;
    }
}

@media(max-width:400px){
    .sidebar{
        width:100%;
    }
}


#navbar__logo{
    display: flex;
    width: 200px;
    height: auto;
}

.merchandise__container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 80%;
    margin: auto;
    margin-top: 50px;

}

.items__container{
    display: flex;
    min-width: 100vh;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    display: flex;
    gap:.2em;
}

#item1{
    width:37vh;
    min-height: 33vh;
    background-color: rgba(255, 255, 255, 0.698);
    align-items: center;
    justify-content: center;
}

#item2{
    width:37vh;
    height: 33vh;
    background-color: rgba(255, 255, 255, 0.698);
    align-items: center;
    justify-content: flex-end;
}
#item3{
    width:37vh;
    height: 33vh;
    background-color: rgba(255, 255, 255, 0.698);
    align-items: center;
    justify-content: center;
}